.leftaligning{
    padding-left: 15%;
    text-align: left;
    width: 70%;
}
.issuesButton{
    
    padding-left:65%;
    margin-right: 5%;
    

}
.buttonOn{
    margin: 1px;
    background-color: #3f50b5;
    color: #fff;
    font-size: large;
    font-family: 'apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', 'sans-serif';
    font-variant-caps: all-petite-caps;
    font-style: normal;
    border-radius: .2rem;
    padding-left: 1rem ;
    padding-right: 1rem;
    padding-bottom: 0.6rem;
    padding-top: 0.3rem;
    border: none;
    min-width: 90px;
    align-items: baseline;
}
.buttonOn:hover{
    background-color:#002884 ;
}
.buttonOff{
    margin: auto;
    display: none;
}