.leftaligning{
    padding-left: 15%;
    text-align: left;
    width: 70%;
}
.issuesButton{
    
    padding-left:65%;
    margin-right: 5%;
    

}
.buttonOn{
    margin: auto;
}
.buttonOff{
    margin: auto;
    display: none;
}